.bundle
.byebug_history
.DS_Store
.sass-cache/
app/assets/images/favicon.ico
app/assets/images/local.*
app/assets/javascripts/local.*
app/assets/stylesheets/local.*
college_records/*
config/database.yml
config/environments/production.rb
config/external_assets.yml
config/initializers/notifications.rb
config/ldap.yml
db/*.sqlite3
log/*.log
public/uploads/*
tmp/
